html {
    height: 100vh;
    background: linear-gradient(20deg, #c7ccff, #fffbd4) no-repeat center center fixed;
}

nav {
    @apply
    max-w-screen-lg
    mx-auto
    top-0
    sticky
    flex
    justify-between
    items-center
    py-2
    px-4
    my-4
    rounded-lg;
    background-color: rgba(255, 255, 255, 0.95);
}

nav ul {
    @apply
    list-none
    flex
    gap-2
    px-2
}

nav li {
    @apply
    inline-block;
}

nav ul a {
    @apply
    flex
    gap-2
    items-center
    rounded-lg
    px-4
    py-3
    text-sm
    border
    border-gray-200
    cursor-pointer;
    background-color: rgba(0, 0, 0, 0.04);
}

nav ul a:hover {
    @apply
    border-gray-300
    shadow-sm;
}

main {
    @apply
    flex
    flex-col
    max-w-screen-lg
    mx-auto;
}

section {
    @apply
    text-gray-600
}

footer {
    @apply
        py-10
    text-gray-600
}

.styled-a {
    @apply
    text-blue-500
    hover:underline;
}