{% extends 'extends/main.html' %}

{% block content %}

    <section>

        <div class="flex flex-col gap-4 my-8">

            <div class="flex flex-col gap-4 rounded-2xl bg-gray-50 p-12 shadow-xl">

                <h1 class="text-2xl">Code of Conduct</h1>
                <p>
                    All members, attendees, speakers, sponsors, and volunteers at our events are required to agree with
                    the following code of conduct.
                    Organisers will enforce this code throughout our events. We expect cooperation from all participants
                    to help ensure a safe environment for everybody.
                </p>
                <h2 class="text-xl">Need Help?</h2>
                <p>You can contact the event organisers in person or via email at <a
                        href="mailto:organisers@python.scot" class="styled-a">organisers@python.scot</a></p>

                <h2 class="text-xl">The Quick Version</h2>
                <p>
                    Our events are dedicated to providing a harassment-free experience for everyone, regardless of sex,
                    gender, age, sexual orientation,
                    disability, physical appearance, body size, race, or religion (or lack thereof). We do not tolerate
                    harassment of attendees in any form.
                    Sexual language and imagery are not appropriate for these events, including talks, workshops,
                    parties, Twitter, and other online media.
                    Event participants violating these rules may be sanctioned or expelled from the event at the
                    discretion of the organisers.
                </p>
                <h2 class="text-xl">The Full Quick Version</h2>
                <p>
                    Harassment includes offensive verbal comments related to sex, gender, age, sexual orientation,
                    disability, physical appearance, body size,
                    race, religion, sexual images in public spaces, deliberate intimidation, stalking, following,
                    harassing photography or recording, sustained
                    disruption of talks or other events, inappropriate physical contact, and unwelcome sexual attention.
                </p>
                <p>
                    Participants asked to stop any harassing behaviour are expected to comply immediately.
                </p>
                <p>
                    Sponsors are also subject to the anti-harassment policy. In particular, sponsors should not use
                    sexualised images, activities, or other material.
                </p>
                <p>
                    If a participant engages in harassing behaviour, the event organisers may take any action they deem
                    appropriate, including warning the offender
                    or expulsion from the event with no refund.
                </p>
                <p>
                    If you are being harassed, notice that someone else is being harassed, or have any other concerns,
                    please contact a member of the event organisers immediately.
                </p>
                <p>
                    Organisers will be happy to help participants contact local security or law enforcement, provide
                    escorts, or otherwise assist those experiencing
                    harassment to feel safe for the duration of the event. We value your attendance.
                </p>
                <p>
                    We expect participants to follow these rules at event venues and event-related social events. This
                    Code of Conduct was derived from
                    <a href="https://codeofconduct.org" target="_blank">codeofconduct.org</a> and is licensed under a
                    <a href="https://creativecommons.org/licenses/by/3.0/" target="_blank">Creative Commons Attribution
                        3.0 Unported License</a>.
                </p>
                <h2 class="text-xl">Anti-Harassment Policy</h2>
                <p>
                    Our Python Meetup Community is committed to providing a safe and harassment-free experience for all
                    participants, regardless of sex,
                    gender, gender identity and expression, sexual orientation, disability, physical appearance, body
                    size, race, ethnicity, nationality,
                    age, religion, or any other characteristic.
                </p>
                <p>
                    This Anti-harassment policy applies to all community spaces, including physical meetups, online
                    platforms, social media, and any other
                    communication channels associated with the community.
                </p>
                <h3 class="text-lg">Harassment</h3>
                <p>
                    Harassment includes offensive comments or actions related to sex, gender, gender identity and
                    expression, sexual orientation, disability,
                    physical appearance, body size, race, ethnicity, nationality, age, religion, or any other
                    characteristic. Harassment also includes
                    unwelcome sexual advances, intimidation, stalking, photography or recording without consent,
                    sustained disruption of talks or other events,
                    and any other inappropriate behaviour that creates an intimidating, hostile, or offensive
                    environment.
                </p>
                <h3 class="text-lg">Respectful Communication</h3>
                <p>
                    Engage in respectful and constructive communication. Treat others with kindness, empathy, and
                    respect. Disagreements are bound to happen,
                    but it is important to do so respectfully, focusing on the issues rather than attacking individuals.
                </p>
                <h3 class="text-lg">Inclusive Language</h3>
                <p>
                    Use inclusive language and avoid any offensive or exclusionary comments, jokes, or imagery that
                    could create discomfort or harm to others.
                    Be mindful of the impact of your words and actions on others, even if they were unintentional.
                </p>
                <h3 class="text-lg">Personal Boundaries</h3>
                <p>
                    Respect personal boundaries of others. Do not touch others without their consent. Be mindful of
                    personal space and do not engage in any
                    behavior that makes others uncomfortable.
                </p>
                <h3 class="text-lg">Reporting and Enforcement</h3>
                <p>
                    If you witness or experience harassment or any violation of this Code of Conduct, please report it
                    to the organizers immediately. Reports can
                    be made in person, via email, or through any other official communication channels. All reports will
                    be kept confidential and will be reviewed
                    and addressed promptly. Appropriate actions will be taken, which may include warnings, expulsion
                    from the event or community, or banning from
                    future events.
                </p>
                <h3 class="text-lg">Consequences</h3>
                <p>
                    Violations of this Code of Conduct may result in disciplinary actions deemed appropriate by the
                    organizers, including but not limited to warnings,
                    temporary or permanent bans from the community, and involvement of law enforcement if necessary.
                </p>

            </div>

        </div>

    </section>

{% endblock %}