{% extends 'extends/main.html' %}

{% block content %}

    <section class="text-center py-16">

        <p>
            We are still working on this website,
            this page will be available soon.
        </p>
        <p>
            If you would like to get involved in this
            sites development, you can contribute
            on our GitHub repository.
        </p>

        <p>
            <a href="https://github.com/python-scotland/www-python-scot" class="styled-a">
                https://github.com/python-scotland/www-python-scot
            </a>
        </p>

    </section>

{% endblock %}