{% extends 'extends/main.html' %}

{% block content %}

    <section>

        <img
                src="{{ url_for('static', filename='emoji_icons/donate_emoji_48.png') }}"
                alt="Support Us Icon"
                class="my-12 mx-auto"
                style="height: 30px; width: 30px;"
        />

        <div class="flex flex-col gap-4 my-8">

            <div class="flex flex-col gap-4 rounded-2xl bg-gray-50 p-12 shadow-xl">

                <div class="grid grid-cols-1 md:grid-cols-2 gap-8">

                    <div class="flex flex-col gap-4 items-center text-center">

                        <img
                                src="{{ url_for('static', filename='emoji_icons/donate_one_off_emoji_48.png') }}"
                                alt="Donate One-off Icon"
                                style="height: 30px; width: 30px;"
                        />

                        <h2 class="text-2xl">One-off Donation</h2>

                        <p class="px-8">Make a one-off donation via Stripe, the donation amount can be adjusted.</p>

                        <a
                                class="btn-a btn-green"
                                target="_blank"
                                href="https://donate.stripe.com/28E5kDcE36K500Wejr3Nm00"
                        >
                            Donate
                        </a>

                    </div>

                    <div class="flex flex-col gap-4 items-center text-center">

                        <img
                                src="{{ url_for('static', filename='emoji_icons/donate_recurring_emoji_48.png') }}"
                                alt="Donate One-off Icon"
                                style="height: 30px; width: 30px;"
                        />

                        <h2 class="text-2xl">Support us on Patreon</h2>

                        <p class="px-8">Support us by giving a monthly amount via Patreon.</p>

                        <a
                                class="btn-a btn-green"
                                target="_blank"
                                href="https://patreon.com/PythonScotland"
                        >
                            Go to Patreon
                        </a>

                    </div>

                </div>

                <div class="text-center font-bold py-10">
                    <p>
                        The donation you make will be used to fund current and future Python events that we are involved in.
                    </p>

                    <p>
                        We are grateful for your support.
                    </p>
                </div>

                <div class="text-center text-sm">
                    <p>
                        As Python Scotland is a community-led organisation, we are not able to receive any donations
                        directly.
                    </p>
                    <p>
                        Our funding and financial control is currently being handled by our partner UiliX Ltd.
                    </p>
                </div>

                {#
                <div class="flex flex-col gap-4 text-sm">

                    <p class="text-center">&mdash;</p>

                    <p>
                        We have appointed Eternal Balance Community Services CIC
                        (<a target="_blank" class="styled-a"
                            href="https://find-and-update.company-information.service.gov.uk/company/SC769683">SC769683</a>)
                        to serve as our financial controller. This arrangement allows us to anchor our financial account
                        to
                        an external
                        source, enabling a flexible organisational structure. This flexibility ensures our team can
                        remain
                        focused on our core mission of supporting Python communities across Scotland.
                    </p>

                    <p>To find out more about what a CIC is
                        <a target="_blank" class="styled-a"
                           href="https://www.gov.uk/government/publications/community-interest-companies-how-to-form-a-cic/community-interest-companies-guidance-chapters#what-is-a-cic">click
                            here</a>.</p>

                    <p>
                        Some more information about EBCS can be found here;
                        <a class="styled-a-disabled" href="#">ebcommunity.org.uk (coming soon)</a>,
                        <a target="_blank" class="styled-a"
                           href="https://www.nhs24.scot/find-a-service/health-and-wellbeing-services/3a03cc55fcfa4486ad316ae47d483e54%201/">NHS
                            24</a>.
                    </p>

                </div>
#}
            </div>

        </div>

    </section>

{% endblock %}